.square {
    
    float:left;
    width:10px;
    height:10px;
    margin-right:3px;
    margin-bottom:3px;
    background-color: #eaa32f;
}

.fruit {
    background-color: teal;
}

.body {
    background-color:blue;
}
.head{
    background-color:  #b337F7;
}

